<p style="color: green"><%= notice %></p>

<%= render @prediction %>

<div>
  <%= link_to "Edit this prediction", edit_prediction_path(@prediction) %> |
  <%= link_to "Back to predictions", predictions_path %>

  <%= button_to "Destroy this prediction", @prediction, method: :delete %>
</div>
